.cardss{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}



.addcards{
    
    align-items: center;
    text-align: center
    
}


.cardss {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .cards {
    width: 25%;
    margin: 10px;
  }



  
  

  



  
